<head>
    <style>
        body {
            display: flex;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
        .sidebar {
            box-shadow: 10px 0 10px 10px rgba(100,100,100, .1);
            height: 100vh;
            padding: 16px;
            width: 20vw;
            position: fixed;
            background: rgba(250,250,250, .99);
        }
        .nav {
            display: flex;
            flex-direction: column;
        }
        .nav p {
            padding: 10px 10px 40px 10px;
            border-bottom: 1px solid rgba(100,100,100,.1);
        }
        .content {
            padding: 2em;
            margin-left: 20vw;
            padding: 2em;
            background: whitesmoke;
            width: 80vw;
        }
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(100,100,100, .8);
            z-index: 99;
        }
        .modal-body {
            width: 30vw;
            height: 30vh;
            background: white;
            border-radius: .5em;
            padding: 16px;
        }
    </style>
</head>
<body>
    <div class="modal">
        <div class="modal-body">
            <h1 class="header">
                Im a modal
            </h1>
        </div>
    </div>
    <div class="sidebar">
        STROOM
        <div class="nav">
            <p>Home</p>
            <p>About</p>
            <p>Donate</p>
            <p>Contact</p>
        </div>
    </div>
    <div class="content">
        <h2 class="title">I'm some content</h2>
    </div>
</body>